
body {
  background-color: #2c3338;
  color: red;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  height: 100%;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
}
h4.my_title{
text-transform:uppercase !important;
color:white;
padding-top:10px;
padding-bottom:20px;
}
h2.my_title{
text-transform:uppercase !important;
color:white;
padding-top:10px;
padding-bottom:20px;
}
.form_size
{
min-width:500px;
}